.triangle {
  background: url(../../icons/triangle.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.triangle-1 {
  width: 39px;
  height: 33px;
  left: 593.83px;
  top: 178.96px;
}

.triangle-2 {
  width: 33.82px;
  height: 28.77px;
  left: 314.12px;
  top: 276px;
}

.triangle-3 {
  width: 52.73px;
  height: 44.86px;
  left: 261.09px;
  top: 739.65px;
}

.triangle-4 {
  width: 41.11px;
  height: 34.98px;
  left: 659.76px;
  top: 864px;
}

.triangle-5 {
  width: 40.93px;
  height: 34.82px;
  left: 1224.71px;
  top: 1137.75px;
}

.triangle-6 {
  width: 30.23px;
  height: 25.72px;
  left: 513.46px;
  top: 1717.26px;
}

.triangle-7 {
  width: 27.88px;
  height: 26.12px;
  left: 196.28px;
  top: 1897.86px;
  filter: brightness(100);
  z-index: 0;
}

.triangle-8 {
  width: 31.88px;
  height: 29.12px;
  left: 1327.47px;
  top: 2347.46px;
  filter: brightness(100);
  z-index: 0;
}

@for $i from 1 to 8 {
  .triangle-$(i) {
    --random: random(0, 360)deg;
    --random-2: calc(var(--random) + 360deg);
    animation: spin-$(i) 15s linear infinite;
  }

  @keyframes spin-$(i) {
    0% {
      transform: translate3d(0, 0, 0) rotate(var(--random));
    }
    100% {
      transform: translate3d(0, 0, 0) rotate(var(--random-2));
    }
  }
}

.circle {
  background: url(../../icons/circle.svg) no-repeat center;
  background-size: cover;
  position: absolute;
  z-index: -1;
}

.circle-1 {
  width: 28px;
  height: 28px;
  left: 164px;
  top: 221px;
}

.circle-2 {
  width: 39px;
  height: 39px;
  left: 507px;
  top: 326px;
}

.circle-3 {
  width: 23px;
  height: 23px;
  left: 515px;
  top: 705px;
}

.circle-4 {
  width: 18px;
  height: 18px;
  left: 252px;
  top: 896px;
}

.circle-5 {
  width: 39px;
  height: 39px;
  left: 455px;
  top: 1049px;
}

.circle-6 {
  width: 23px;
  height: 23px;
  left: 1054px;
  top: 1507px;
}

.circle-7 {
  width: 23px;
  height: 23px;
  left: 181px;
  top: 2430px;
  z-index: 0;
}
