@font-face {
  font-family: 'CircularStd Book';
  font-weight: 400;
  font-style: normal;
  src:  local('CircularStd Book'),
        url('~assets/fonts/CircularStd-Book.woff2') format('woff2'),
        url('~assets/fonts/CircularStd-Book.woff') format('woff'),
        url('~assets/fonts/CircularStd-Book.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd Medium';
  font-weight: 600;
  font-style: normal;
  src:  local('CircularStd Medium'),
        url('~assets/fonts/CircularStd-Medium.woff2') format('woff2'),
        url('~assets/fonts/CircularStd-Medium.woff') format('woff'),
        url('~assets/fonts/CircularStd-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'CircularStd Black';
  font-weight: 800;
  font-style: normal;
  src:  local('CircularStd Black'),
        url('~assets/fonts/CircularStd-Black.woff2') format('woff2'),
        url('~assets/fonts/CircularStd-Black.woff') format('woff'),
        url('~assets/fonts/CircularStd-Black.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Regular';
  font-weight: 400;
  font-style: normal;
  src:  local('Graphik Regular'),
        url('~assets/fonts/Graphik-Regular.woff2') format('woff2'),
        url('~assets/fonts/Graphik-Regular.woff') format('woff'),
        url('~assets/fonts/Graphik-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Graphik Medium';
  font-weight: 600;
  font-style: normal;
  src:  local('Graphik Medium'),
        url('~assets/fonts/Graphik-Medium.woff2') format('woff2'),
        url('~assets/fonts/Graphik-Medium.woff') format('woff'),
        url('~assets/fonts/Graphik-Medium.ttf') format('truetype');
  font-display: swap;
}

h1,
h3,
h4 {
  font-family: var(--font-head-medium);
}

h1 {
  font-size: 3.75em;
}

h2 {
  font-family: var(--font-head-black);
  font-size: 2.625em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.625em;
}

p {
  font-family: var(--font-content-regular);
}
